<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectWin123.Properties.Settings.connStr" connectionString="Data Source=LAPTOP-CUBTIE5P;Initial Catalog=Xin_Viec;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>